<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../logo_unpas.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peserta Wisuda</title>
</head>
<body>
    <div style="display:flex; flex-direction:column; align-items: center; justify-content: center; height: 80vh;">
        <p style="text-align: center; font-size: 24px; font-weight: 900;">Server is running...</p>
        <img src="../logo_unpas.png" alt="">
        <p style="text-align: center; font-size: 24px;">
            <a href="http://52.221.46.56:8002/" style="text-decoration: none; color: green; font-weight: 900;">Link to Application</a>
        </p>
    </div>
</body>
</html>
